$lightBlueColor: #6CBFEE;
$darkBlueColor: #3594CB;
$greyDateColor: #B0C6D3;
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-desktop"]:before {
    font-family: 'FontAwesome', sans-serif;
    display: inline-block;
    float: right;
}
[class*="fontawesome-envelope-alt"]:before {
    font-family: 'FontAwesome', sans-serif;
}
/* Enough of this fontawesome stuff */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -10px;
    left: 5%;
}
.container {
    // max-width: 500px;
    max-width:100vw;
    margin: 25px auto;
    padding: 0 25px;
    color: white;
}
.itemContainer {
    width: 90%;
    margin: 10px auto 20px;
}
.headerContainer {
    width: 90%;
    margin: 10px auto;
}
.headerDate {
    font-size: 1em;
}
.headerTime {
    display: block;
    font-size: 2em;
}
.headerIcon {
    float: right;
}
.itemContainer:nth-child(odd) {
    .headerContainer {
        .headerDate {
            color: $greyDateColor;
        }
        .headerTime {
            color: $lightBlueColor;
        }
        .headerIcon {
            color: $lightBlueColor;
        }
    }
    .bodyContainer {
        background-color: $lightBlueColor;
        .arrow-up {
            border-bottom: 10px solid $lightBlueColor;
        }
    }
}
.itemContainer:nth-child(even) {
    .headerContainer {
        .headerDate {
            color: $greyDateColor;
        }
        .headerTime {
            color: $darkBlueColor;
        }
        .headerIcon {
            color: $darkBlueColor;
        }
    }
    .bodyContainer {
        background-color: $darkBlueColor;
        .arrow-up {
            border-bottom: 10px solid $darkBlueColor;
        }
    }
}
.bodyContainer {
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    position: relative;
}
.bodyTitle {
    margin: 10px;
    padding-top: 5px;
    border-bottom: 1px solid white;
    font-size: 1.2em;
}
.bodyContent {
    margin: 10px;
    font-weight: lighter;
    padding-bottom: 5px;
}
@media screen and (min-width: 650px) {

  .container:before{
    content:"";
    position:absolute;
    // height:100%;
    bottom:-1266px;
    top:20px;
    left:20.56vw;
    border-left:3px solid $lightBlueColor;
    z-index:-1;
  }

  // .itemWrapper{
  //   height:100%;
  // }

  .container{
  max-width: 100vw;
  margin: 25px auto;
  padding: 0 25px;
  color: white;
}

    .arrow-up {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
      position: absolute;
      top: 40px;
      left: -15px;
    }

    .itemContainer {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .headerContainer {
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
    }
    .bodyContainer {
        -webkit-flex: 4 0 0;
        flex: 4 0 0;
    }

    // .headerDate{
    //   font-size:.8em;
    // }

    .headerTime{
        font-size:1em;
    }

    .fontawesome-desktop{
      float:right;
      // font-size:1.5em;
      padding-right:10%;
      background-color: white;
    }

}

@media screen and (min-width: 800px) {
  .headerTime{
    font-size:1.5em;
  }

  .fontawesome-desktop{
    float:right;
    padding-right:10%;
    // position:relative;
    // padding-left:80%;
  }

}


@media screen and (min-width: 1100px) {
  .container{
  max-width: 100vw;
  margin: 25px auto;
  padding: 0 25px;
  color: white;
}

  .headerTime{
    font-size:2em;
  }
}
